{% extends 'layout.html' %}


{% block content %}
    <p class="text-center small"> Esto si lo escribo </p>
  <div class="container books">
      <div class="row">
          {% for book in books %}
          <div class="col-md-4">
              <img src="static/img/{{ book.image }}" alt="book-img" height="200" width="190" class="img-rounded">
              <h4> Title: {{ book.title }} </h4>
              <p> Authors: {{ book.author }} </p>
              <p> Format: {{ book.format }} </p>
              <p> Average Rating: {{ book.avg_rating }} </p>
              <p> Pages: {{ book.num_pages }} </p>
              <p><a href="{{ url_for('main.display_publisher', publisher_id=book.pub_id) }}">Publisher ID: {{
                  book.pub_id }}</a></p>
              <!-- línea para la opción de editar libros. Añade un botón que al pusarlo nos lleva al edit_book.html -->
              <span class="label label-primary"><a href="{{ url_for('main.edit_book', book_id=book.id) }}" style="color: floralwhite"> Editar </a></span>
              <!-- línea para la opción de borrar libros. Añade un botón que al pusarlo nos lleva al delete_book.html -->
              <span class="label label-info"><a href="{{ url_for('main.delete_book', book_id=book.id) }}" style="color: floralwhite"> Borrar </a></span>
              <!-- línea para añadir libros. Añade un botón que al pusarlo nos lleva al create_book.html -->
              <span class="label label-success"><a href="{{ url_for('main.create_book', pub_id=book.pub_id) }}" style="color: floralwhite"> Crear nuevo registro </a></span>

              <br>
          </div>
          {% endfor %}
      </div>
      <div class="row">
      </div>
     <p class="text-center small"> Hemos llegado al final </p>
      </div>
{% endblock content %}